body {
    padding: 2em;
}
.kana-table {
    width: 20em;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.row button {
    background-color: #fff;
    border: 1px solid #000;
    flex: 0 1 auto;
    display: block;
    font-size: 2em;
}
.row button:hover {
    background-color: #000;
    color: #fff;
}
