.p-tag-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 3rem;
    padding: 3px 0;
    @media (max-width: 767px) {
        flex-wrap: nowrap;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.p-tag-nav__btn {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--font-color-gray-2);
    margin-right: 0.7em;
    margin: 0 0.7em 0.7em 0;
    padding: 0.2em 1em;
    border: 1px solid;
    border-radius: 1.3em;
    line-height: 1.4;
    transition: 0.4s;
    &.is-current {
        color: var(--font-color);
    }
    /* ~~~~~ SP ~~~~~~ */
    @media (max-width: 767px) {
        font-size: 0.9rem;
        white-space: nowrap;
    }
}
