{
    "tabWidth": 4,
    "singleQuote": false,
    "printWidth": 100,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
