img {
    max-width: 100%;
}
.container {
    text-align: center;
    font-size: 4rem;
    padding-top: 4rem;
}
.my-dog {
    width: 400px;
    margin: auto;
}
.dog-sitting {
    display: block;
}
.dog-spinning {
    display: none;
}
.is-spinning .dog-sitting {
    display: none;
}
.is-spinning .dog-spinning {
    display: block;
}
button {
    font-size: 1.4rem;
}
